.tn-admin-page input[disabled],
.tn-admin-page input:disabled,
.tn-admin-page textarea[disabled],
.tn-admin-page textarea:disabled,
.tn-admin-page select[disabled],
.tn-admin-page select:disabled {
  opacity: 0.5;
}
.tn-admin-page label.tn-disabled {
  color: red;
}
.tn-admin-page .button.tn-disabled {
  opacity: 0.5;
}
.upt-thumbnails input[disabled],
.upt-thumbnails input:disabled,
.upt-thumbnails textarea[disabled],
.upt-thumbnails textarea:disabled,
.upt-thumbnails select[disabled],
.upt-thumbnails select:disabled {
  opacity: 0.5;
}
.upt-thumbnails img {
  border: none!important;
}
.upt-thumbnails .ipopt-desc a {
  color: #0073aa;
}
#upt-image-thumb-0:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 999;
  color: #fff;
  background-color: green;
}
.upt-pro-only {
  color: red;
}
.upt-disabled input,
.upt-disabled select,
.upt-disabled textarea,
.upt-disabled option {
  opacity: 0.5;
}
.upt-images-thumb li {
  float: left;
  margin-right: 9px;
  position: relative;
  z-index: 0;
}
.upt-images-thumb li.in-active img,
.upt-images-thumb li.in-active:before {
  opacity: 0.3;
}
.upt-images-thumb li .del {
  font-family: FontAwesome;
  font-size: 16px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
  z-index: 999;
  display: none;
}
.upt-images-thumb li .del:before {
  content: "\f057";
}
.upt-images-thumb li .del:hover {
  color: #D52121;
}
.upt-images-thumb li:hover .del {
  display: block;
}
.upt-images-thumb img {
  width: 75px !important;
  height: 75px !important;
  cursor: pointer;
}
.upt-images-thumb:after {
  content: "";
  display: table;
  clear: both;
}
.upt-images {
  margin-left: -12px;
  margin-right: -12px;
  border-bottom: 1px solid #ddd;
}
.upt-image-entry {
  display: none;
  border: none;
}
.upt-image-entry .upt-preview-image {
  padding: 0;
  margin: 0;
}
.upt-image-entry .upt-preview-image img {
  margin: 0;
}
.upt-image-entry .tn-opt-body {
  padding: 0;
}
.upt-options {
  display: none;
  margin-left: -12px;
  margin-right: -12px;
}
.upt-options option[disabled],
.upt-options option:disabled {
  color: red;
}
.upt-options .tn-opt {
  padding: 16px 12px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}
.upt-options .tn-opt input {
  width: 90%;
}
.upt-options .tn-opt select {
  padding: 0;
}
.upt-options .tn-opt-title {
  color: #111;
}
#upt-slider-settings {
  border-top: 1px solid #fff;
}
#upt-slider-settings h4 {
  color: #21759B;
  opacity: 0.9;
  font-size: 13px;
  margin: 0;
  padding: 20px 0 10px;
  cursor: pointer;
}
#upt-slider-settings .tn-toggle:before {
  font-family: FontAwesome;
  font-size: 16px;
  content: "\f013";
  margin-right: 10px;
  vertical-align: middle;
}
#upt-add-featured-image {
  margin-top: 10px;
}
/* ------------ Shortcode Button ------------ */
.wp_themeSkin span.mce_ultimate_post_thumbnails {
  background: transparent url(../shortcode/thumbslider-icon.png) no-repeat center 1px;
}
.wp_themeSkin .mceButtonEnabled:hover span.mce_ultimate_post_thumbnails,
.wp_themeSkin .mceButtonActive span.mce_ultimate_post_thumbnails {
  background-position: center -19px;
}
.tn-page h1 {
  font-size: 38px !important;
}
